.float-left
  = render 'home/admin_links'
.float-right
  .container_16
    %h3 New Room
    .block-border
      .block-content
        = render 'form'
        %br

        /link_to 'Show', @room
        = link_to 'Back', rooms_path, :class=>"links_btn"